/* Reset & 기본 셋팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 데스크탑 기본 컨테이너 규격 */
  --container-max: 1200px;
  --container-pad: 32px;
}

/* 가운데 정렬 컨테이너  */
.container {
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--container-pad);
}

/* 섹션 상하 여백(옵션) */
.section {
  padding-block: 64px;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

/* ONMARKET  Color */
:root {
  --color-sub: #f8bc96;
  --color-main: #f9dbc8;
  --color-light-1: #fae2d3;
  --color-light-2: #fcebe1;
  --color-light-3: #fdf4ee;
  --color-white: #ffffff;
}
